<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-1">
        <h1>Latest Blogs & News</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content<br>of a page when looking at its layout. The point of using.

</p>
<div class="col-1">
    <img src="assets/blog-01.png" alt="image" class="img-1">
    <img src="assets/blog-02.png" alt="image" class="img-2">
    <img src="assets/blog-03.png" alt="image" class="img-3">
</div>
<div class="container-2">
    <div class="col-2">
        <h2>Free advertising for your<br> online business</h2>
        <h3>9 simple ways to improve<br> your design skills</h3>
        <h4>Tips to quickly improve your <br>coding speed.</h4>
        
    </div>
</div>
    </div>
    
</body>
</html>