*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container-1 h1{
    font-size: 48px;
    text-align: center;
    margin: 150px;
    color: #1d1c1c;
}
.container-1 p{
    text-align: center;
    margin-top: -140px;
    color: #555;
    font-size: 20px;
    
}
.img-1{
    margin: 20px 50px 50px;
}
.img-2{
    position: relative;
    top: -50px;
    right: 15px;
    
}
.img-3{
    position: relative;
    top: -50px;
    left: 15px;
}
.col-2 h2{
    position: relative;
    top: -10px;
    left: 50px;
    top: -20px;
}
.col-2 h3{
    position: relative;
    left: 500px;
    top: -70px;
    font-size: 24px;
}
.col-2 h4{
    position: relative;
    left: 930px;
    top: -125px;
    font-size: 24px;
}
