*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(205, 225, 238);
    color: #fff;
}
.nav-bar{
    width: 100%;
    height: 60px;
    background-color: rgb(7, 30, 35);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3{
    color: #fff;
    margin-left: 40px;
    font-size: 28px;
    border: 1px solid #fff;
    padding: 5px 8px;
    border-radius: 7px;
}
ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;

}
ul li:hover{
    text-decoration: underline;
    color: blueviolet;
    text-underline-offset: 4px;
}
.main-menu{
    margin-right: 30px;
}
.menuBtn, .closeBtn{
    font-size: 28px;
    margin: 0 20px;
    display: none;

}
/* 
------------------media Query---------------------- */

@media (max-width: 700px){
    ul{
        display: none;
      
        
    }
    ul li{
        display: block;
        margin: 10px;
    }
    .menuBtn{
        display: block;
    }
    h3{
        font-size: 24px;
    }
    #menu{
        width: 100%;
        background-color: rgb(11, 46, 54);
        position: absolute;
        top: 60px;
        right: 0;
        text-align: center;

    }
   
}



