*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("assets/amazon_logo.png");
    height: 50px;
    background-size: cover;
    width: 100%;
}
.border{
    border: 1,5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* ---------box2------------- */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* ----------box3---------- */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    margin-left: 20px;
}
.search-select{
    background-color: #f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    text-align: center;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* background-color: rgb(207, 170, 2); */
    background-color: #e98707;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* -------------box4------------------ */
span{
    font-size: 0.7rem;
    
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
    
}
.nav-return{
    position: relative;
    left: 30px;
}
.nav-signin{
    position: relative;
    left: 20px;

}
.nav-cart{
    display: flex;
}