*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(banner-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
     min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}
nav{
    background-color: rgb(41, 39, 39);
    padding: 1rem;
    margin: 0%;


}
nav ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0%;
    display: block;
    
}
img{
    position: absolute;
        left: 50%;
        right: 50%;
}
#toggle-icon{
    position: absolute;
    left: 10%;
    right: 50%;
}
select{
    background-color: rgb(54, 50, 50);
    color: white;
    padding: 0.7%;
    margin: 0%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    right: 0%;
    left: 15%;
}
option{
    background-color: white;
    color: black;
}
.form-controls{
    position: relative;
    padding: 0.5%;
    margin: 0%;
    right: 0%;
    left: 16%;
    width: 600px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: large;
}
.language{
    background-color: white;
    color: black;
    position: relative;
    padding: 0.6%;
    margin: 0%;
    right: 0%;
    left: 17%;
    width: 150px;
    font-size: 100%;
}
.cart{
    color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    align-items: center;
    right: 0%;
    left: 88%;
    padding: 0%;
    margin: 0.8%;
    
    

}
h1{
    font-size: 450%;
    color: white;
    text-align: center;
}
button{
    background-color: black;
    color: black;
   padding: 0.6%;
   margin: 0%;
   position: relative;
   left: 50%;
   width: 150px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border: none; 
}
.text{
   position: relative;
   padding: 0%;
   margin: 0%;
   right: auto;
   left: 8%;
   left: 15%;
   font-size: large;
   
   
}
.tshirt{
    position: relative;
    padding: 0%;
    margin: 0%;
    left: 8%;
    right: 0%;
}
h2{
    position: relative;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-size: 50px;
    color: rgb(41, 39, 39);
}
/* .shirt{
    position: relative;
    padding: 0%;
    margin: 0%;
    text-align: center;
    
} */
#shirt{
    position: relative;
    padding: 0%;
    margin: 0%;
    left: 20%;
    right: 0%;
}
.clothes{
    position: relative;
    padding: 0%;
    margin: 0%;
    left: 35%;
    right: 0%;
}
.text-price{
    position: relative;
    padding: 0%;
    margin: 0%;
    left: 16%;
    right: auto;
    color: red;
}
.centre{
    padding: 0%;
    margin: 0%;
    text-align: center;
    left: 4%;
}
h5{
    position: relative;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-size: 50px;
    color: rgb(41, 39, 39);

}
.Electronic{
    position: relative;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-size: large;
}
.Start{
    position: relative;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-size: medium;
    color: red;
}
.laptop{
    position: relative;
    padding: 0%;
    margin: 0%;
    left: 0%;
    right: 78%;
}
.Phone{
    position: relative;
    padding: 0%;
    margin: 0%;
    left: 9%;
    right: 0%;
}
.Computers{
    position: relative;
    margin: 0%;
    padding: 0%;
    right: 0%;
    left: 20%;
}
.J{
    position: relative;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-size: 50px;
    color: rgb(41, 39, 39);
}
.A{
    position: relative;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-size: 20px;
}
.pr{
    position: relative;
    padding: 0%;
    margin: 0%;
    text-align: center;
    color: red;
    font-size: large;
}
.jj{
    position: relative;
    padding: 0%;
    margin: 0%;
    left: 6%;
    right: 50%;
}
.Nj{
    position: relative;
    padding: 0%;
    margin: 0%;
    left: 15%;
    right: 0%;
}
.Kj{
    position: relative;
    padding: 0%;
    margin: 0%;
    right: 0%;
    left: 24%;
}

 #grey{
    height: 50px;
    width: 1350px;
    background-color: rgb(54, 50, 50);
    background-image: radial-gradient(to right bottom, grey, black)
    
 }
.cart{
    position: absolute;
    bottom: 0%;
    top: 24%;
}


