*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    
}
.container{
    max-width: 1200px;
    width: 95%;

}
.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
    grid-template-columns: repeat(10, 1fr);

}
.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
}
.container .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}
.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: pointer;
}
.slider-scrollbar .scrollbar-thumb::after{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    bottom: -10px;
}
.slider-scrollbar:hover .scrollbar-track{
    height: 4px;

}
.slider-scrollbar .scrollbar-track:active{
    cursor: pointer;
    height: 8px;
    top: -2px;
}
.slider-wrapper .slide-button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    transform: translate(-50%);
}
.slider-wrapper .slide-button:hover{
    background: #444;
}
.slider-wrapper .slide-button#prev-slide{
   left: 5%;

}
.slider-wrapper .slide-button#next-slide{
   right: 1.5%;
   
}
.slider-wrapper{
    position: relative;
}
