*{
    margin: 0%;
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
    box-sizing: border-box;
   
    
}

body{
   
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
   
    
    
}


#navbar h1{
    margin-top: 10px;
    font-size: 40px;
    color: white;
    font-weight: 600;
    position: relative;
    top: -8px;
    margin-left: 60px;
    
}
nav li a:hover{
    color: rgb(253, 98, 98);
    transition: 0.5s;
    
}
nav ul{
    padding: 0%;
    margin: auto;
    margin-right: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8%; 
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -12px;
    
    
    
   
    
}
a{
    text-decoration: none;
    color: white;
}
#button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    position: relative;
    top: -20px;
    gap: 12px;
    cursor: pointer;

}
.icon{
    border: 1px solid black;
    border-radius: 50%;
    border: none;
    background: rgb(253,98,98);
    color: aliceblue;
    font-size: 20px;
    position: relative;
    top: -25px;
    
}
#log{
    background: transparent;
    color: rgb(253,98,98);
    border: none;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    top: -25px;
    cursor: pointer;
}
#start-btn{
    background: transparent;
    color: #fff;
    width: 100px;
    height: 50px;
    position: relative;
    top: -25px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#start-btn:hover{
    background: rgb(253, 98, 98);
    transition: 0.5s;
    
}
#navbar img{
    position: relative;
    top: 60px;
    margin-left: 5px;
}

.col-2 h1{
    padding: 0%;
    margin-left: 30px;
    margin-top: 20px;
    color: #fff;
    font-size: 80px;
    font-family:  sans-serif;
}
.col-2 p{
    padding: 0%;
    margin-left: 30px;
    margin-top: 30px;
    color: #fff;
    font-size: 30px;
    font-family:  sans-serif;
}
#col-btn{
    background: rgb(253,98,98);
    position: relative;
    color: #fff;
    top: 50px;
    margin-left: 30px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .5s;
    box-shadow: 5px 5px 5px rosybrown;
    text-shadow: 3px 3px 3px black;
    text-shadow: -3px -3px 3px black;
    
    
    
}
#col-btn:hover{
    /* transform: rotate(90deg) */
    /* transform: rotateY(360deg); */
    /* transform: rotateX(360deg); */ 
    /* transform: skew(30deg); */
    /* transform: scale(2.2); */
    transform: translate(50px);
  


}
/* --------------------features------------------------ */
.card-content-1{
    margin-top: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    border: 1px solid #555;
    width: 500px;
    height: 700px;
    margin-left: 50px;
    background: transparent;
     background: url("assets/Image3.avif");
     background-repeat: no-repeat;
     background-size: cover;
}
.card-content-1 h2{
    font-size: 35px;
    color: #fff;
    width: 350px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   position: relative;
   top: 350px;
   
}
.card-content-1 p{
    margin-top: 20px;
    color: #fff;
    font-size: 24px;
    width: 350px;
    position: relative;
    top: 350px;
}

.card-content-2{
    border: 1px solid #555;
    position: relative;
    left: 120%;
    width: 700px;
    height: 900px;


}
.card-box-1{
    border: 3px solid rgb(63,63,67);
    background: rgb(63,63,67);
    height: 350px;
    width: 270px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px 15px;
    position: relative;
    top: -90px;
}
.h-content-1{
    color: rgb(136, 156, 231);
    font-size: 28px;
    font-weight: 600;
    margin-left: 50px;
    position: relative;
    top: -20px;
}
.card-box-1 span{
    color: #fff;
    position: relative;
    top: 10px;
    width: 250px;
    text-align: center;
    font-size: 20px;
}
.card-box-2{
    border: 3px solid rgb(63,63,67);
    background: rgb(63,63,67);
    height: 350px;
    width: 270px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px 15px;
    position: relative;
    left: 350px;
    top: -40%;

}
.h-content-2{
    color: rgb(136, 156, 231);
    text-align: center;
    font-weight: 600;

}
.card-box-2 span{
   text-align: center;
   color: #fff;
   width: 250px;
   position: relative;
   top: 20px;
   font-size: 20px;
}
.fa{
    position: relative;
    top: -50px;
    color: rgb(253,98,98);
    
    
}
.icon{
    font-size: 24px;
}

.card-box-3{
    border: 3px solid rgb(63,63,67);
    background: rgb(63,63,67);
    height: 350px;
    width: 270px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px 15px;
    position: relative;
    top: -400px;
}
.h-content-3{
    color: rgb(136, 156, 231);
    text-align: center;
    font-weight: 600;
    

}
.card-box-3 span{
    color: #fff;
    position: relative;
    top: 10px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    top: 20px;

}
.card-box-4{
     border: 3px solid rgb(63,63,67);
    background: rgb(63,63,67);
    height: 350px;
    width: 270px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px 15px;
    position: relative;
    left: 350px;
    top: -450px;
}
.h-content-4{
    color: rgb(136, 156, 231);
    text-align: center;
    font-weight: 600;

}
.card-box-4 span{
    color: #fff;
    position: relative;
    top: 10px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    top: 20px;

}
.card-col-1{
     margin-top: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    border: 1px solid #555;
    width: 600px;
    height: 900px;
    margin-left: 50px;
    background: transparent;
     background: url("assets/Image4.avif");
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     top: -1200px;
     right: 550px;

}
.col-h1-1{
    text-align: center;
    color: #fff;
    font-weight: 900;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
}

    


.card-col-2{
    border: 1px solid gray;
    position: relative;
    left: 599px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 600px;
    height: 800px;
    background: transparent;
    background-repeat: no-repeat;
     background-size: cover;
     background: url("assets/Image3.avif");
     margin-left: 10px;
     
     
}
.card-col-h3{
    color: #fff;
    font-size: large;
    font-weight: 800;
    text-align: center;
}
.card-col-btn-2{
    background: rgb(253,98,98);
    color: #fff;
    position: relative;
    top: 3px;
    width: 150px;
    height: 50px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 2px;
    border: none;
    
}
.centre-point-h1{
    position: relative;
    top: -100%;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}
.centre-point-h1{
    position: relative;
    top: 700px;
    left: 50%;
    /* color: #fff; */
}
.number-item-1 h1{
    position: relative;
    top: -650px;
    right: 60%;
    font-size: 60px;
    font-weight: bold;
    color: rgb(253, 98, 98);
    font-family: sans-serif;
    
}
.number-item-1 span{
    position: relative;
    top: -650px;
    right: 60%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.number-item-2 h1{
    position: relative;
    top: -740px;
    right: 30%;
    font-size: 60px;
    font-weight: bold;
    color: rgb(253, 98, 98);
    font-family: sans-serif;

}
.number-item-2 span{
    position: relative;
    top: -740px;
    right: 30%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;


}
.number-item-3 h1{
     position: relative;
    top: -830px;
    right: 30px;
    left: 20px;
    font-size: 60px;
    font-weight: bold;
    color: rgb(253, 98, 98);
    font-family: sans-serif;
    

}
.number-item-3 span{
     position: relative;
    top: -828px;
    right: 20%;
    left: 0%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

}
.number-item-4 h1{
    position: relative;
    top: -920px;
    right: 0%;
    left: 40%;
    font-size: 60px;
    font-weight: bold;
    color: rgb(253, 98, 98);
    font-family: sans-serif;

}
.number-item-4 span{
    position: relative;
    top: -918px;
    right: 0%;
    left: 30%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

}
.number-item-5 h1{
     position: relative;
    top: -1010px;
    right: 0%;
    left: 70%;
    left: 70%;
    font-size: 60px;
    font-weight: bold;
    color: rgb(253, 98, 98);
    font-family: sans-serif;

}
.number-item-5 span{
    position: relative;
    top: -1010px;
    right: 0%;
    left: 65%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

}
.col-5{
    position: relative;
    left: 15%;
}
.col-5-box-1 h1{
     background: url("assets/image5.avif");
    border: 1px solid #555;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    border: 1px solid #555;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -800px;
    right: 70%;
}
.col-5-box-2 h1{
     background: url("assets/image5.avif");
       border: 1px solid #555;
       background-repeat: no-repeat;
       background-size: cover;
       color: #fff;
     border: 1px solid #555;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1000px;
    right: 41%;


}
.col-5-box-3 h1{
    background: url("assets/image5.avif");
       border: 1px solid #555;
       background-repeat: no-repeat;
       background-size: cover;
       color: #fff;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1200px;
    right: 86px;
    

}
.col-5-box-4 h1{
      background: url("assets/image5.avif");
       border: 1px solid #555;
       background-repeat: no-repeat;
       background-size: cover;
       color: #fff;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1400px;
    right: 0%;
    left: 17%;
    

}
.col-5-box-5 h1{
     background: url("assets/image5.avif");
       border: 1px solid #555;
       background-repeat: no-repeat;
       background-size: cover;
       color: #fff;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1600px;
    right: 0%;
    left: 46%;

}
.col-6{
    background: url("assets/Image4.avif");
    border: 1px solid #555;
     position: relative;
     height: 800px;
     width: 650px;
     top: -1600px;
     right: 490px;
     background-repeat: no-repeat;
     background-size: cover;


}
.col-6 span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    position: relative;
    top: 50%;
    width: 650px;
    text-align: justify;
    color: #fff;
   
    
}
.col-7{
    background: url("assets/image\ 6.png");
     border: 1px solid #555;
     position: relative;
     height: 800px;
     width: 450px;
     top: -2400px;
     left: 25%;

}
.col-7 span{
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: 50%;
    text-align: justify;
    color: black;
    color: #fff;
    
}
.col-7 button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60%;
    left: 10%;
    background: rgb(253, 98, 98);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;

}

/* ------------------------footer------------------ */

.footer-list ul{
    list-style: none;
    position: relative;
    right: 80%;
    color: #fff;
    font-size: 20px;
    top: 30px;
}
.footer-list-col-2{
    position: relative;
    left: 50%;
    top: -70px;
    color: #fff;
}
#btn-footer{
    background: rgb(253, 98, 98);
    position: relative;
    top: 30px;
     width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.footer-list-col-3 ul{
       position: relative;
       right: 250px;
       top: -120px;
       color: #fff;
}
.footer-list-col-4 span{
    position: relative;
    top: -220px;
    left: 80px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.footer-list-col-4 ul{
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   right: 32%;
   top: -150px;
   font-size: 24px;
   
}
#user-id{
    width: 250px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 10px;

}
#navbar img{
    height: 50px;
   
    
   
}
.footer hr{
    position: relative;
    right: 100%;
    width: 1400px;
}
/* -------------------------media Query-------------------- */
@media (max-width: 700px){
     nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

        
    }
    body{
        overflow-x: hidden;
    }
      nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 50px;
        margin-bottom: 10px;
        text-align: left;
    }
    .list{
        display: block;
       
    }
    
}

@media(max-width: 435px){
    #navbar{
        
      position: relative;
      top: -80px;
      

}
#navbar img{
    position: relative;
      top: -80px;
      

}
nav h1{
     position: relative;
      top: -80px;

}


}
@media (max-width: 694px){
    #button{
        display: none;
    }
    .col-2 h1{
        font-size: 50px;
        text-align: center;
        width: 100%;
        position: relative;
        top: 40px;
    }
    .col-2 p{
        text-align: center;
        position: relative;
        top: 40px;
        margin-bottom: 30px;
    }
    #col-btn{
          font-size: 50px;
        text-align: center;
        width: 100%;
        position: relative;
        top: 40px;
        width: 300px;
        right: 0px;
        left: 150px;

    }
    .footer-list hr{
        width: auto;
        display: none;
    }
    .card-content-1, .card-content-2{
        width: auto;
    }
    .card-col-1, .card-col-2{
        width: auto;

    }
    .centre-point-h1{
        text-align: center;
        font-size: 25px;
    }
   
  
   
}
@media(max-width: 550px){
    .footer-list-col-4 span{
        display: none;
    }
    .footer-list-col-4 ul{
        display: none;
        
    }
    .footer-list-col-3 ul{
        display: none;
    }
    .footer-list ul{
        text-align: center;
    }
    .footer-list-col-2 ul li{
        text-align: center;
    }
}




    

    
   

