*{
    padding: 0px 30px 30px;
    margin: 0px 0px 0px;
    margin-right: 0px;
    margin-left: 5px;
    
}

h1{
    padding: 4px 30px 30px;
    margin: 4px;
    font-family: sans-serif;
    font-size: 24px;
    color: #131313;
    
}
    
.g1{
    position: relative;
    padding-right: 0%;
    padding: 10;
    margin-top: 0px;
    width: 350px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
   
    
}
.g2{
    position: relative;
    padding-right: 15px;
    padding-left: 30px;
    margin-top: 0px;
    width: 350px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
    
    
}
.g3{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0px;
    width: 350px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;

}
.g4{
    position: relative;
    padding-right: 20px;
    padding-left: 30px;
    margin-top: 0px;
    width: 540px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;


}
.g5{
    position: relative;
    padding-right: 20px;
    padding-left: 15px;
    margin-top: 0px;
    width: 540px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;

}
.g6{
    position: relative;
    padding-right: 15px;
    padding-left: 30px;
    margin-top: 0px;
    width: 350px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;

}
.g7{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0px;
    width: 350px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
   


}
.g8{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0px;
    width: 350px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
    
    
    
}

