*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#btns{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
#btns button{
    padding: 5px 10px;
    cursor: pointer;
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.products .product{
    width: 300px;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
    padding: 20px;
}
.product-header{
    margin: 10px 0;
}
.product img{
    width: 100%;
}